

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(./images/nebula.jpg);
}

.container {
    width: 450px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.container h2{
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #000;
}

.wrapper {
    margin: 1.25rem 1.75rem;

}

.wrapper .input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    height: 42px;
    color: #111;
    background: none;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid black;
    padding: 5px;

}

.input-box span{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 40px;
    color: #707070;
}

.input-box span:hover{
    color: #5A0DCE !important;
}


.wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;

}

.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}

.pass-indicator#weak::before{
    width: 20%;
    background: #FF0000;
}

.pass-indicator#medium::before{
    width: 20%;
    background: #FFFF00;
}

.pass-indicator#strong::before{
    width: 20%;
    background: #00FF00;
}

.wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
}

.pass-length .details{
    display: flex;
    justify-content: space-between;
    font-family: 'Teko', sans-serif;
    font-weight: 700;
}

.pass-length input{
    width: 100%;
    height: 5px;
}

.pass-settings{
    font-family: 'Teko', sans-serif;
    font-weight: 700;
}
.pass-settings .options{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.pass-settings .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% / 2);
}

.options .option:first-child{
    pointer-events: none;
}

.options .option:first-child input{
    opacity: 0.7;
}

.options .option input {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.options .option label{
    cursor: pointer;
    color: #000;
    padding-left: 0.63rem;
}

.wrapper .gnr-btn{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #000099;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.gnr-btn:active{
    box-shadow: 15px 13px 26px -7px rgba(0,0,0,0.73);
    background-color: #000080;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color:#00FF00;
}